<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SupplierBoardMapper">

	<!-- 대시보드에서 리스트 5개만 띄우게하기 -->
	<select id="dashboardSupplierBoardList" resultType="SupplierBoardVO">
		SELECT s.SB_ID  , s.SB_head  , u2.NAME 
		FROM SUPPLIERBOARD S 
		INNER JOIN `user` u2 
		ON s.ID =u2.ID WHERE u2.`role` ="supplier" 
		ORDER BY s.SB_ID DESC LIMIT 5;
	</select>
	
	<select id="admingetSupplierBoardList" resultType="SupplierBoardVO">
	    SELECT *
	    FROM (
	        SELECT ROW_NUMBER() OVER (ORDER BY sb_regdate) AS RN, s.*, u2.NAME AS name
	        FROM SUPPLIERBOARD s
	        INNER JOIN `user` u2 ON s.ID = u2.ID
	        WHERE u2.`role` = "supplier"
	        AND (
	            <choose>
	                <when test="searchCondition == 'sb_title'">
	                    sb_title LIKE '%${searchKeyword}%'
	                </when>
	                <when test="searchCondition == 'name'">
	                    u2.name LIKE '%${searchKeyword}%'
	                </when>
	                <when test="searchCondition == 'sb_regdate'">
	                    sb_regdate LIKE '%${searchKeyword}%'
	                </when>
	                <otherwise>
	                    1 = 1 
	                </otherwise>
	            </choose>
	        )
	    ) AS B
	    <![CDATA[
	    WHERE RN > (#{pageNum}-1) * #{amount} AND RN <= #{pageNum} * #{amount};
	    ]]>
	</select>

	
	<select id="getTotalSupplyinquiry" resultType="int">
	    SELECT COUNT(*) as total
	    FROM SUPPLIERBOARD s
	    INNER JOIN `user` u2 ON s.ID = u2.ID
	    WHERE u2.`role` = "supplier"
	    AND (
	        <choose>
	            <when test="searchCondition == 'sb_title'">
	                s.sb_title LIKE '%${searchKeyword}%'
	            </when>
	            <when test="searchCondition == 'name'">
	                u2.name LIKE '%${searchKeyword}%'
	            </when>
	            <when test="searchCondition == 'sb_regdate'">
	                s.sb_regdate LIKE '%${searchKeyword}%'
	            </when>
	            <otherwise>
	                1 = 1
	            </otherwise>
	        </choose>
	    );
	</select>	
		

	<select id="getSupplierBoard" resultType="SupplierBoardVO">
		SELECT s.*, u.NAME ,u.PHONE 
		FROM SUPPLIERBOARD S 
		INNER JOIN `user` u 
		ON s.ID = u.ID 
		WHERE s.SB_ID = #{sb_id};
	</select>
	
	<update id="insertAnswer" parameterType="SupplierBoardVO">
		UPDATE SUPPLIERBOARD 
		SET sb_answer = '${sb_answer}'
		WHERE sb_id = #{sb_id};
	</update>
	
	<insert id = "inquiryreigster" parameterType="SupplierBoardVO">
		INSERT INTO 
		SUPPLIERBOARD(SB_HEAD,SB_TITLE,SB_CONTENT, SB_REGDATE, SB_CNT,ID)
		VALUES(#{sb_head}, #{sb_title}, #{sb_content},now(), 0,#{id})
	</insert>

	<select id="inquiryList" parameterType="hashmap" resultType="SupplierBoardVO">
		SELECT *
		FROM SUPPLIERBOARD
		WHERE id = #{id}
		ORDER BY sb_id DESC;
	</select>

</mapper>