<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserReviewMapper">

	<insert id="insertUserReview" parameterType="UserReviewVO">
		INSERT INTO
		USERBOARD( UB_HEAD,UB_TITLE,UB_CONTENT, UB_REGDATE, UB_CNT)
		VALUES(#{ub_head}, #{ub_title}, #{ub_content},now(), 0)
	</insert>


	<select id="getUserReviewList" resultType="UserReviewVO">

		SELECT *
		FROM USERBOARD
		ORDER BY UB_ID DESC

	</select> 

<!-- 	<select id="getUserBoardList" parameterType="hashmap"
		resultType="UserBoardVO">

		SELECT *
		FROM USERBOARD
		<where>
			<if test="searchCondition != null">
				${searchCondition} LIKE '%${searchKeyword}%'
			</if>
		</where>
		ORDER BY UB_ID DESC

	</select> -->


</mapper>