<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserReviewMapper">

	<insert id="insertUserReview" parameterType="UserReviewVO">
		INSERT INTO
		REVIEW(
		R_POINT, R_CONTENT , R_REGDATE, ID , G_ID )
		VALUES(#{r_point},
		#{r_content}, now(), #{id},#{g_id})
	</insert>

	<delete id="deleteUserReview" parameterType="UserReviewVO">
		DELETE
		FROM REVIEW
		WHERE R_ID = #{r_id}
	</delete>

	<select id="getUserReviewList" parameterType="UserReviewVO"
		resultType="UserReviewVO">

		SELECT REVIEW.*,GOODS.G_ID,GOODS.G_NAME
        FROM REVIEW
        INNER JOIN GOODS
        ON REVIEW.G_ID = GOODS.G_ID 
        ORDER BY R_ID DESC

	</select>


</mapper>