.tab-pane h4, .tab-pane h4 span {
    display: inline-block;
    margin-right: 10px; /* 간격 조절, 필요에 따라 조절 가능 */
}

.tab-pane h4 span{
 	font-size: 14px;
    color: #666;
    padding-left: 10px;
    font-weight: normal;
 }

#tab-2 h4{
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 10px;
}

#tab-2 img{
	border:1px solid #b2b2b2;
	border-radius:10px;
	width:100%
}